
/* MAIN styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.5rem;

}

h1,
h2,
h3,
h4,
h5,
h6,
.services {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

p,
nav,
.footer-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container,
header {
    width: 90%;
    max-width: 1400px;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}
.container-full-width {
    width: 90%;
}
.container-half-width {
    max-width: 750px;
    width: 50%;
}
.container-third-width {
    background-color: aquamarine;
    margin: 5px 10px;
    padding: 20px;
    width: 32%;
}

.float-center{
    align-content: center;
}

.site-title {
    width: 25%;
    text-transform: capitalize;
}

/* NAV styles */
nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul li,
.footer-nav {
    text-transform: uppercase;
    list-style-type: none;
}

footer {
    width: 1005;
    text-align: center;
    background-color: aquamarine;
}

.footer-nav {
    padding: 0;
    margin: 0;
}

.site-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 1.75rem;
}

/* HOME styles */

.explore-arrow {
    text-align: center;
}

.hero-img {
    width: 90%;
    max-width: 500px;
}

.profile-img {
    width: 90%;
    max-width: 361px;
    border-radius: 50%;
}